<div class="container">
  <p>Edit Product</p>
  <div class="container">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="form-horizontal" novalidate autocomplete="off">
      <div class="form-group">
        <label>Name</label>
        <input formControlName="name" type="text" class="form-control" name="name" >
        <!-- <small class="label label-danger"
      *ngIf="formProfile.controls['username'].touched && formProfile.controls['username'].errors?.['email']">sai cu phap</small> -->
    </div><br>

    <button type="submit" [disabled]="!productForm.valid" class="btn btn-primary">Submit</button>
    <!-- <button (click)="onResetForm()" type="button" class="btn btn-danger">Reset</button> -->
    </form>
  </div>
  </div>
