<div class="container" style= "width: 400px;">
  <div class="row">
    <div class="card-header">
      <h1 class= "card-title text-center"><b>Xóa sản phẩm</b></h1>

    </div>
    <div class="card-body">
       <p> Tên Sản Phẩm: {{product.name}} </p>
       <!-- <p> Giá: {{product.price}} </p>
       <p> Mô tả: {{product.description}} </p> -->
    </div>
    <div class="card-footer d-flex justify-content-end">
      <button type="button" on-click= "delete()" class="btn btn-danger" >Xóa</button>
      <button type="button" [routerLink]="['/products']" class="btn btn-primary mx-2" >Quay lại</button>
    </div>
  </div>
</div>
