<div class="container">
  <p>Products List</p>
  <div class="container">
    <div class="container" *ngIf="products">
      <a [routerLink]="['/product/add']" routerLinkActive="router-link-active" class="btn btn-primary"
        >Add Product</a><br><br>
      <table class="table table-striped table-bordered " >
        <thead>
            <tr>
              <td>ID</td>
              <td>Name</td>

              <td>Action</td>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products; let id = index">
            <td>{{ id + 1 }}</td>
            <td>{{ product.name }}</td>
            <td>
              <a [routerLink]="['/product/edit', product.id]" class="btn btn-primary">Edit</a>&nbsp;&nbsp;
              <a [routerLink]="['/product/delete', product.id]" class="btn btn-danger">Delete</a>
            </td>
          </tr>
        </tbody>
    </table>
    </div>
  </div>
</div>
